h1{
    color: white;
    top:100px;
    left: 200px;
    position: fixed;

}
p{
    color: white;
    top:150px;
    left: 200px;
    position: fixed;
}
.form-control{
    color: white;
    top:230px;
    left: 200px;
    position: fixed;
}